<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Browser Suite">
    <parameter name="browser" value="chrome"/>
    <test name="OpenBrowser">
        <classes>
            <class name="Pages.OpenBrowserTest"/>
        </classes>
    </test>
</suite>
